{% extends 'core/base.html' %}
{% block title %}Nueva contraseña | VianApp{% endblock %}
{% block content %}
<div class="login-outer">
    <div class="login-center">
        <h2 class="register-title verde">Restablecer contraseña</h2>
        <p class="register-desc">Ingresa tu nueva contraseña para tu cuenta.</p>
        <form method="post" style="width:100%;max-width:340px;margin:auto;">
            {% csrf_token %}
            <div class="register-group" style="width:100%;max-width:340px;margin:auto;">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
            </div>
            <div class="register-group" style="width:100%;max-width:340px;margin:auto;">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn-register-main" style="margin-top:18px;width:100%;">Restablecer contraseña</button>
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
